In [1]:
from sqlalchemy import create_engine
import psycopg2
import psycopg2.extras

def pgconnect():
    # please replace <your_unikey> and <your_SID> with your own details
    YOUR_UNIKEY = '<your_unikey>'
    YOUR_PW     = '<your_SID>'
    DB_LOGIN    = 'y20s1d2x01_'+YOUR_UNIKEY

    try:
        db = create_engine('postgres+psycopg2://'+DB_LOGIN+':'+YOUR_PW+'@soitpw11d59.shared.sydney.edu.au/'+DB_LOGIN, echo=False)
        conn = db.connect()
        print('connected')
    except Exception as e:
        print("unable to connect to the database")
        print(e)
    return db,conn

In [2]:
# 1st: login to database
db,conn = pgconnect()

connected

In [4]:
# Verify that there are no existing tables
print(db.table_names())

['passengers', 'spatial_ref_sys', 'world', 'cities', 'weatherobservations2', 'organisations', 'measurementswk4', 'wobs_seq', 'weatherobservations']

In [6]:
# if you want to reset the table
conn.execute("drop table if exists weatherobservations;")

# 2nd: ensure that the schema is in place
weatherobs_schema = """
create table weatherobservations(
	obsdate date,
	city varchar(50),
	air_temp float,
	wind_speed float,
	wind_direction varchar(10)
);
                   """
conn.execute(weatherobs_schema)

# Verify that there are no existing tables
print(db.table_names())

['passengers', 'spatial_ref_sys', 'world', 'cities', 'weatherobservations2', 'organisations', 'measurementswk4', 'wobs_seq', 'weatherobservations']

In [7]:
# 3nd: load data using pandas
import pandas as pd
wobs_data = pd.read_csv('weather_observations.csv')

table_name = "weatherobservations"
wobs_data.to_sql(table_name, con=conn, if_exists='append', index=False)
# Note - all your types for the table will be in text format, you will need to cast the types

In [8]:
res = pd.read_sql_query('SELECT COUNT(*) FROM weatherobservations', conn)
res

   count
0    960

In [9]:
conn.close()
db.dispose()